* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* SHOWCASE SECTION */
#main-img {
  background: url("/img/blender-showcase.jpeg");
  min-height: 450px;
  background-size: cover;
  background-position: center;
  position: relative;
}

h3.blender-title {
  color: blueviolet;
  background: linear-gradient(to right, cyan, orange);
  font-size: 3.5em;
  font-weight: 400;
  position: absolute;
  top: 30%;
  left: 280px;
  padding: 15px;
}
/* DOWNLOAD LINK */
#download-link {
  min-height: 85px;
  box-shadow: 0 4px 6px -6px #222;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  text-align: center;
}

#download-link .container {
  margin: 0 auto;
}

#download-link .col-md-7 {
  margin-top: 10px;
  font-size: 1.2em;
}

#download-link .btn {
  padding: 10px 50px;
  font-weight: 300;
  font-size: 1.1em;
}

#download-link i {
  margin-right: 13px;
}
/* ABOUT SECTION */
#about {
  padding: 10em 0 0 0;
  background: #f8f8f8;
}

#about-area {
  min-height: 450px;
}
